

#userinfo {
    /*individualrecords*/
    margin-top: 3%;
    width: 100%;
    border: 1px;
    height: 100%;
}

#userphoto {
    /*individualrecords*/
    width: 220px;
    height: 220px;
    margin: 10%;
    margin-right: 5%;
}

.parent {
    filter: drop-shadow(3px 3px 3px #4d94ff);
}

.fixed_nav {
    position: fixed;
    top: 0;
}

.index {
    margin: 5%;
}

.button_group {
    margin: auto;
    padding: 3%;
}

.flex-container {
    /*individualrecords*/
    text-align: center;
    width: 50%;
    margin: auto;
}

.indexparent {
    margin: auto;
    margin-top: 10%;
    width: 100%;
}

.flex-container-register {
    text-align: center;
    margin: auto;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 0%;
}

.flex-container>div {
    /*individualrecords*/
    background-color: #f1f1f1;
    margin-top: 3%;
    background-color: white;
}

.md-text-area {
    margin: 5%;
}

.visitorin {
    margin: auto;
    background-color: white;
    padding: 2%;
    width: 100%;
}

.visitorinchild {
    margin: 5%;
    background-color: blue;
    width: 100%;
}

header {
    text-align: center;
    margin: 5%;
    margin-bottom: 3%;
}

a:link {
    color: #000099;
}


/* visited link */

a:visited {
    color: green;
}


/* mouse over link */

a:hover {
    color: white;
}


/* selected link */

a:active {
    color: #e6b800;
}

button {
    height: 50px;
    width: 180px;
}

table {
    border: 1px;
    border-color: black;
    table-layout: fixed;
    background-color: #e6f2ff;
}

#pending {
    text-align: center;
}

th {
    color: #007bff;
}

body {
    background-image: linear-gradient(to bottom right, #b3d1ff, #99ccff);
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* 
input {
    border: none;
    border-color: transparent;
} */

* {
    font-family: Arial, Helvetica, sans-serif;
}

#search-btn {
    height: 40px;
    width: 40px;
    color: red;
}

#search-input {
    height: 40px;
    width: fit-content;
    color: blue;
}