{% extends "base.html" %} 
{% block title %}New Registration{% endblock %} 
{% block content %}
    <div class="flex-container-register col col-lg-6 col-sm-8 col-xs-12 parent">
        <form action="/visitordetail" enctype="multipart/form-data" method="POST">
            <table class="table table-sm">
                <th colspan="2">
                    <h3>Visitor Registration Form</h3>
                </th>
                <tr>
                    <td>
                        First Name:
                    </td>
                    <td>
                        <input class="form-control no-border" type="text" name="firstname" placeholder="First Name" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name:
                    </td>
                    <td>
                        <input class="form-control no-border" type="text" name="lastname" placeholder="Last Name" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Organization:
                    </td>
                    <td>
                        <input class="form-control no-border" type="text" name="company" placeholder="Company" list="suggestions">
                        {% for item in suggestions %}
                        <datalist id="suggestions">
                            <option value= "{{ item }}">
                        </datalist>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Contact:
                    </td>
                    <td>
                        <input class="form-control no-border" type="tel" id="phone" name="phone" pattern="[9][8]{1}[0-9]{8}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <input class="form-control no-border" type="email" name="email" placeholder="Email" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Purpose:
                    </td>
                    <td>
                        <input class="form-control no-border" type="text" name="purpose" placeholder="Purpose of Visit">
                    </td>
                </tr>
                <tr>
                    <td>
                        Visiting Department:
                    </td>
                    <td>
                        <input class="form-control no-border" type="text" name="visited_depart" placeholder="Visiting Department">
                    </td>
                </tr>
                <tr>
                    <td>
                        Upload:
                    </td>
                    <td>
                        <input class="form-control no-border" type="file" class="vistor-photo" name="photo" id="photo" onchange="readURL(this);"> 
                    </td>
                </tr>
                <tr>
                    <td>
                        Signature:
                    </td>
                    <td>
                        <input class="form-control no-border" type="file" class="vistor-signature" name="signature" id="signature" onchange="readURL(this);">
                    </td>
                </tr>
                
                <tfoot>
                    <td>
                        <button class="btn btn-outline-primary btn-lg" type="submit" id="button_register">Save and Visit</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-primary btn-lg" type="button" id="button_visitorin">Print Ticket</button>
                    </td>
                </tfoot>
            </table>
        </form>
    </div>
    <img id="blah" src="#" alt="visitor photo" />
{% endblock %}
{% block extra_js %}
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(150);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    {# <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script> #}
{% endblock %}