{% extends "base.html" %} 
{% block title %}New Registration{% endblock %} 
{% block content %}
    <div class="flex-container-register col col-lg-5 col-sm-8 col-xs-12 parent">
        <form action="/visitordetail" enctype="multipart/form-data" method="POST">
            <table class="table borderless table-hover">
                <th colspan="5">
                    <h4>Visitor Registration Form</h4>
                </th>
                <tr>
                    <td colspan="2">
                        First Name:
                    </td>
                    <td colspan="3">
                        <input class="form-control no-border" type="text" name="firstname" placeholder="First Name" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Last Name:
                    </td>
                    <td colspan="3">
                        <input class="form-control no-border" type="text" name="lastname" placeholder="Last Name" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Organization:
                    </td>
                    <td colspan="3">
                        <input class="form-control no-border" type="text" name="company" placeholder="Company" list="suggestions">
                        {% for item in suggestions %}
                        <datalist id="suggestions">
                            <option value= "{{ item }}">
                        </datalist>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Contact:
                    </td>
                    <td colspan="3">
                        <input class="form-control no-border" type="tel" id="phone" name="phone" pattern="[9][8]{1}[0-9]{8}" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Email:
                    </td>
                    <td colspan="3">
                        <input class="form-control no-border" type="email" name="email" placeholder="Email" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Purpose:
                    </td>
                    <td colspan="3">
                        <input class="form-control no-border" type="text" name="purpose" placeholder="Purpose of Visit">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Visiting Department:
                    </td>
                    <td colspan="3">
                        <input class="form-control no-border" type="text" name="visited_depart" placeholder="Visiting Department">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Upload:
                    </td>
                    <td colspan="3">
                        <input class="form-control no-border" type="file" class="vistor-photo" name="photo" id="photo" onchange="readURL(this);"> 
                        <img id="blah" src="#"  />
                            <script>
                                function readURL(input) {
                                    if (input.files && input.files[1]) {
                                        var reader1 = new FileReader();

                                        reader1.onload = function(e) {
                                            $('#blah')
                                                .attr('src', e.target.result)
                                                .width(150)
                                                .height(150);
                                    };
                                    reader1.readAsDataURL(input.files[1]);
                                    }
                            }
                            </script>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Signature:
                    </td>
                    <td colspan="3">
                        <input class="form-control no-border" type="file" class="vistor-signature" name="signature" id="signature" onchange="readURL(this);">
                        <img id="blahblah" src="#" />
                            <script>
                                function readURL(input) {
                                    if (input.files && input.files[0]) {
                                        var reader = new FileReader();

                                        reader.onload = function(e) {
                                            $('#blahblah')
                                                .attr('src', e.target.result)
                                                .width(150)
                                                .height(150);
                                    };
                                    reader.readAsDataURL(input.files[0]);
                                    }
                            }
                            </script>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        CH Personnel Involved:
                    </td>
                    <td colspan="3">
                        <input class="form-control no-border" type="text" name="ch_personnel" placeholder="Involved personnel" required>
                    </td>
                </tr>
                    <tr>
                        <td colspan="3">
                            <button class="mt-2 mb-2 btn btn-outline-primary btn-lg" type="submit" id="button_register">Save and Visit</button>
                        </td>
                        <td colspan="3">
                            <button class="float-right mt-2 mb-2 btn btn-outline-primary btn-lg" type="button" id="button_visitorin">Print Ticket</button>
                        </td>
                    </tr>               
            </table>
        </form>
    </div>
    <img id="blah" src="#" alt="visitor photo" />
{% endblock %}
{% block extra_js %}
    {# <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(150);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script> #}
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    {# <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script> #}
{% endblock %}