{% extends "base.html" %} 
{% block title %}Update Registration{% endblock %} 
{% block content %}
    <div class="flex-container-register col col-lg-6 col-sm-8 col-xs-12 parent">
        <form action="/visitordetail" enctype="multipart/form-data" method="POST">
            <table class="table table-sm">
                <th colspan="2">
                    <h3>Visitor Registration Form</h3>
                </th>
                <tr>
                    <td>
                        <img src="/{{data[0]}}" alt="visitors_photo" height="150" width="150">
                    </td>
                </tr>
                <tr>
                    <td>
                        First Name:
                    </td>
                    <td>
                        <input class="form-control no-border" type="text" name="firstname" placeholder="First Name" value="{{data[1]}}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name:
                    </td>
                    <td>
                        <input class="form-control no-border" type="text" name="lastname" placeholder="Last Name" value="{{data[2]}}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Organization:
                    </td>
                    <td>
                        <input class="form-control no-border" type="text" name="company" placeholder="Company" value="{{data[5]}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Contact:
                    </td>
                    <td>
                        <input class="form-control no-border" type="tel" id="phone" name="phone" pattern="[9][8]{1}[0-9]{8}" value="{{data[4]}}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <input class="form-control no-border" type="email" name="email" placeholder="Email" value="{{data[3]}}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Purpose:
                    </td>
                    <td>
                        <input class="form-control no-border" type="text" name="purpose" placeholder="Purpose of Visit" value="{{data[7]}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Visiting Department:
                    </td>
                    <td>
                        <input class="form-control no-border" type="text" name="visited_depart" placeholder="Visiting Department" value="{{data[6]}}">
                    </td>
                </tr>
                <tfoot>
                    <td>
                        <button class="btn btn-outline-primary btn-lg" type="submit" id="button_register">Save and Visit</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-primary btn-lg" type="button" id="button_visitorin">Print Ticket</button>
                    </td>
                </tfoot>
            </table>
        </form>
    </div>
{% endblock %}